@page "/profile"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject NavigationManager _navigationManager
@inject ILocalStorageService _localStorage

@if (_user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card bg-light">
        <h4 class="card-header">Profile</h4>
        <div class="card-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="@_user.ProfileUrl" alt="Admin" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4><a href="@_user.Url">@_user.Name</a></h4>
                                    @if (_user.IsPremium)
                                    {
                                        <p class="text-secondary mb-1">Premium</p>
                                    }
                                    @if (_user.IsSupporter)
                                    {
                                        <p class="text-muted font-size-sm">Supporter</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Id</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @_user.UserId
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @_user.Name
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    @_user.Email
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private NexusModsValidateResponse? _user;

    protected override async Task OnInitializedAsync()
    {
        _user = await _localStorage.GetItemAsync<NexusModsValidateResponse>("user");
    }
}
