@inject INotificationService _notificationService
@inject INexusModsUserClient _userClient
@inject ISteamClient _modClient

<Modal @ref="@_modalRef">
    <ModalContent Size="@ModalSize.ExtraLarge" Centered>
        <ModalHeader>
            <ModalTitle>Remove Allowed Module Id</ModalTitle>
            <CloseButton/>
        </ModalHeader>
        <ModalBody>
            @if (_dataGridRef?.Value is not null)
            {
            <Form>
                <Field>
                    <FieldLabel>Module Id to Remove</FieldLabel>
                    <FieldBody>
                        <Select @bind-SelectedValue="@_modIdToDelete">
                            @{
                            foreach (var allowedModId in _dataGridRef.Value.Mods.Select(x => x.SteamWorkshopModId))
                            {
                            <SelectItem Value="@allowedModId">@allowedModId</SelectItem>
                            }
                            }
                        </Select>
                    </FieldBody>
                </Field>
            </Form>
            }
        </ModalBody>
        <ModalFooter>
            <Button Color="@Color.Secondary" Clicked="@(async () => await HideModal(false))">Cancel</Button>
            <Button Color="@Color.Primary" Clicked="@(async () => await HideModal(true))">Done</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

@if (_user?.SteamUserId is null)
{
    <p>You need to link your Steam account to use this feature.</p>
    <Button Color="@Color.Primary" To="profile">Link Steam</Button>
} else {
    <Card Margin="@Margin.Is2">
        <CardHeader>
            <CardTitle Size="4" Margin="@Margin.Is0">Manual Module Id Link</CardTitle>
        </CardHeader>
        <CardBody>
            <Form>
                <Fields>
                    <Field ColumnSize="ColumnSize.Is3.OnDesktop">
                        <FieldLabel RequiredIndicator>Module Id</FieldLabel>
                        <FieldBody>
                            <TextEdit ElementId="steamworkshop-module-id" Role="@TextRole.Text" @bind-Text="@_moduleId" Placeholder="Bannerlord.Harmony" />
                        </FieldBody>
                    </Field>
                    <Field ColumnSize="ColumnSize.Is6.OnDesktop">
                        <FieldLabel RequiredIndicator>Steam Workshop Mod Url</FieldLabel>
                        <FieldBody>
                            <TextEdit ElementId="steamworkshop-mod-url" Role="@TextRole.Url" @bind-Text="@_modUrl" Placeholder="https://steamcommunity.com/sharedfiles/filedetails/?id=1"/>
                        </FieldBody>
                    </Field>
                </Fields>
                <Field>
                    <Button Color="@Color.Primary" Type="@ButtonType.Submit" @bind-Loading="@_isLoading" Clicked="@OnSubmit" PreventDefaultOnSubmit>
                        <LoadingTemplate>
                            Linking...
                        </LoadingTemplate>
                        <ChildContent>
                            Link
                        </ChildContent>
                    </Button>
                </Field>
            </Form>
        </CardBody>
    </Card>

    <Card Margin="@Margin.Is2" Overflow="@Overflow.Auto">
        <CardHeader>
            <CardTitle Size="4" Margin="@Margin.Is0">Manual Module Id Links</CardTitle>
        </CardHeader>
        <CardBody>
            <DataGridPaging @ref="@_dataGridRef" TItem="LinkedByStaffModuleSteamWorkshopModsModel" GetItems="@GetManualLinks" FixedHeader>
                <DataGridColumns>
                    <DataGridColumnText TItem="LinkedByStaffModuleSteamWorkshopModsModel" Field="@nameof(LinkedByStaffModuleSteamWorkshopModsModel.ModuleId)" Caption="Module Id"/>
                    <DataGridColumnText TItem="LinkedByStaffModuleSteamWorkshopModsModel" Field="@nameof(LinkedByStaffModuleSteamWorkshopModsModel.Mods)" Caption="Mod Id" >
                        <DisplayTemplate>@(string.Join(", ", context.Mods.Select(x => x.SteamWorkshopModId)))</DisplayTemplate>
                    </DataGridColumnText>
                </DataGridColumns>
                <ButtonRowTemplate>
                    <Button Color="@Color.Primary" Disabled="@(_dataGridRef?.Value is null)" Clicked="@(async () => await OnDisallow(context))">Unlink</Button>
                </ButtonRowTemplate>
            </DataGridPaging>
        </CardBody>
    </Card>
}



@code {

    private Modal _modalRef = default!;
    private DataGridPaging<LinkedByStaffModuleSteamWorkshopModsModel>? _dataGridRef;

    private ProfileModel? _user;
    private bool _isLoading;
    private string _moduleId = string.Empty;
    private string _modUrl = string.Empty;
    private string? _modIdToDelete = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        var userResponse = await _userClient.GetProfileAsync();
        _user = userResponse.Value;
        
        await base.OnInitializedAsync();
    }
    
    private async Task ShowModal()
    {
        _modIdToDelete = _dataGridRef?.Value?.Mods.Select(x => x.SteamWorkshopModId).FirstOrDefault();
        await _modalRef.Show();
    }
    
    private async Task HideModal(bool save)
    {
        await _modalRef.Hide();
        if (save && _dataGridRef?.Value is not null && _modIdToDelete is not null)
        {
            if (await _modClient.RemoveModuleManualLinkAsync(moduleId: _dataGridRef.Value.ModuleId, modId: _modIdToDelete) is { Error: null })
            {
                await _notificationService.Success("Disallowed succesfully!", "Success!");
                await _dataGridRef.Reload();
            }
            else
            {
                await _notificationService.Error("Failed to disallow!", "Error!");
            }
        }
    }

    private async Task OnSubmit()
    {
        _isLoading = true;

        try
        {
            if (await DoManualLink())
            {
                await _notificationService.Success($"Linked '{_moduleId}' to mod '{_modUrl}'!", "Success!");
                if (_dataGridRef is not null)
                    await _dataGridRef.Reload();
            }
            else
            {
                await _notificationService.Error($"Failed to link '{_moduleId}' to mod '{_modUrl}'!", "Error!");
            }
        }
        catch
        {
            await _notificationService.Error($"Failed to link '{_moduleId}' to mod '{_modUrl}'!", "Error!");
        }

        _isLoading = false;
        StateHasChanged();
    }

    private async Task<DataGridPaging<LinkedByStaffModuleSteamWorkshopModsModel>.ItemsResponse?> GetManualLinks(int page, int pageSize, ICollection<Filtering> filters, ICollection<Sorting> sortings, CancellationToken ct)
    {
        var response = await _modClient.GetModuleManualLinkPaginatedAsync(new(page: page, pageSize: pageSize, filters: filters, sortings: sortings), cancellationToken: ct);
        return response is { Value: { } data } ? new(data.Metadata, data.Items, data.AdditionalMetadata) : null;
    }

    private async Task OnDisallow(ButtonRowContext<LinkedByStaffModuleSteamWorkshopModsModel> context)
    {
        if (context.DeleteCommand.Item is not null && await DoManualUnlink())
        {
            //await context.DeleteCommand.Clicked.InvokeAsync();
        }
    }

    private async Task<bool> DoManualLink()
    {
        if (!SteamUtils.TryParseWorkshopId(_modUrl, out var modId))
            modId = _modUrl;
        
        return await _modClient.AddModuleManualLinkAsync(moduleId: _moduleId, modId:  modId) is { Error: null };
    }
    private async Task<bool> DoManualUnlink()
    {
        await ShowModal();
        return true;
    }
}