@attribute [Authorize(Roles = $"{ApplicationRoles.Administrator}, {ApplicationRoles.Moderator}")]
@page "/manual-module-id-link"

@inject INotificationService _notificationService
@inject INexusModsModClient _modClient

<Card Margin="@Margin.Is4">
    <CardHeader>
        <CardTitle Size="4" Margin="@Margin.Is0">Manual Module Id Link</CardTitle>
    </CardHeader>
    <CardBody>
        <Form>
            <Field>
                <FieldLabel>Module Id</FieldLabel>
                <FieldBody>
                    <TextEdit ElementId="module-id" Role="@TextRole.Text" @bind-Text="@_model.ModuleId" Placeholder="Bannerlord.Harmony" />
                </FieldBody>
            </Field>
            <Field>
                <FieldLabel>NexusMods Url</FieldLabel>
                <FieldBody>
                    <TextEdit ElementId="mod-url" Role="@TextRole.Url" @bind-Text="@_model.NexusModsUrl" Placeholder="https://nexusmods.com/mountandblade2bannerlord/mods/1"/>
                </FieldBody>
            </Field>
            <Field>
                <Button Color="@Color.Primary" Type="@ButtonType.Submit" @bind-Loading="@_isLoading" Clicked="@OnSubmit" PreventDefaultOnSubmit>
                     <LoadingTemplate>
                        Linking...
                    </LoadingTemplate>
                    <ChildContent>
                        Link
                    </ChildContent>
                </Button>
            </Field>
        </Form>
    </CardBody>
</Card>

<Card Margin="@Margin.Is4" Overflow="@Overflow.Auto">
    <CardHeader>
        <CardTitle Size="4" Margin="@Margin.Is0">Manual Module Id Links</CardTitle>
    </CardHeader>
    <CardBody>
        <DataGridPaging @ref="@_dataGridRef" TItem="NexusModsModToModuleModel" GetItems="@GetManualLinks">
            <DataGridColumns>
                <DataGridColumn TItem="NexusModsModToModuleModel" Field="@nameof(NexusModsModToModuleModel.ModuleId)" Caption="Module Id"/>
                <DataGridColumn TItem="NexusModsModToModuleModel" Field="@nameof(NexusModsModToModuleModel.NexusModsModId)" Caption="Mod Id"/>
            </DataGridColumns>
            <ButtonRowTemplate>
                <Button Color="@Color.Primary" Disabled="@(_dataGridRef?.Value is null)" Clicked="@(async () => await OnDisallow(context))">Unlink</Button>
            </ButtonRowTemplate>
        </DataGridPaging>
    </CardBody>
</Card>

@code {

    private sealed record ManualLinkModel
    {
        public required string ModuleId { get; set; }
        public required string NexusModsUrl { get; set; }
    }

    private bool _isLoading;

    private readonly ManualLinkModel _model = new() { ModuleId = string.Empty, NexusModsUrl = string.Empty };

    private DataGridPaging<NexusModsModToModuleModel>? _dataGridRef;
    
    private async Task OnSubmit()
    {
        _isLoading = true;

        try
        {
            if (await DoManualLink(_model))
            {
                await _notificationService.Success(
                    $"Linked '{_model.ModuleId}' to mod '{_model.NexusModsUrl}'!",
                    "Success!");
                if (_dataGridRef is not null)
                    await _dataGridRef.Reload();
            }
            else
            {
                await _notificationService.Error(
                    $"Failed to link '{_model.ModuleId}' to mod '{_model.NexusModsUrl}'!",
                    "Error!");
            }
        }
        catch
        {
            await _notificationService.Error(
                $"Failed to link '{_model.ModuleId}' to mod '{_model.NexusModsUrl}'!",
                "Error!");
        }

        _isLoading = false;
        StateHasChanged();
    }

    private async Task<DataGridPaging<NexusModsModToModuleModel>.ItemsResponse?> GetManualLinks(int page, int pageSize, ICollection<Filtering> filters, ICollection<Sorting> sortings, CancellationToken ct)
    {
        var response = await _modClient.ToModuleManualLinkPaginatedAsync(new(page: page, pageSize: pageSize, filters: filters, sotings: sortings), cancellationToken: ct);
        return response is { Value: { } data } ? new(data.Metadata, data.Items, data.AdditionalMetadata) : null;
    }

    private async Task OnDisallow(ButtonRowContext<NexusModsModToModuleModel> context)
    {
        if (context.DeleteCommand.Item is not null && await DoManualUnlink(context.DeleteCommand.Item))
        {
            await context.DeleteCommand.Clicked.InvokeAsync();
        }
    }
    
    private async Task<bool> DoManualLink(ManualLinkModel model)
    {
        if (!NexusModsUtils.TryParse(model.NexusModsUrl, out _, out var nexusModsId) && !uint.TryParse(model.NexusModsUrl, out nexusModsId))
            return false;
        
        return await _modClient.ToModuleManualLinkAsync(moduleId: model.ModuleId, nexusModsModId: (int) nexusModsId) is { Error: not null };
    }
    private async Task<bool> DoManualUnlink(NexusModsModToModuleModel model)
    {
        return await _modClient.ToModuleManualUnlinkAsync(moduleId: model.ModuleId) is { Error: not null };
    }
}