@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.Components.WebAssembly.Services
@using System.Reflection

@inject NavigationManager _navigationManager
@inject LazyAssemblyLoader _assemblyLoader
@inject ILogger<App> _logger

<Blazorise.ThemeProvider Theme="@_theme">
    <CascadingAuthenticationState>
        <Router AppAssembly="typeof(App).Assembly" OnNavigateAsync="@OnNavigateAsync" AdditionalAssemblies="@_lazyLoadedAssemblies">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(DefaultLayout)">
                    <Authorizing>
                        <Spinner/>
                    </Authorizing>
                    <NotAuthorized>
                        @if (context.User.Identity?.IsAuthenticated != true)
                        {
                            if (_navigationManager.Uri.EndsWith("logout"))
                            {
                                _navigationManager.NavigateTo("login");
                            }
                            else
                            {
                                _navigationManager.NavigateTo($"login?returnUrl={Uri.EscapeDataString(_navigationManager.Uri)}");
                            }
                        }
                        else
                        {
                            <p>You are not authorized to access this resource.</p>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(DefaultLayout)">
                    @{
                        _navigationManager.NavigateTo("");
                    }
                </LayoutView>
            </NotFound>
        </Router>
        <NotificationAlert Location="NotificationLocation.Left" />
    </CascadingAuthenticationState>
</Blazorise.ThemeProvider>

@code{
        
    private const string ColourWhite = "#FFFFFF";
    private const string ColourBlack = "#000000";

    private const string ColourBody = "#F5F5F6";

    private const string ColourPrimary = "#424242";
    private const string ColourPrimaryLight = "#6D6D6D";
    private const string ColourPrimaryDark = "#1B1B1B";

    private const string ColourSecondary = "#4CAF50";
    private const string ColourSecondaryLight = "#80E27E";
    private const string ColourSecondaryDark = "#087F23";

    private const string ColourDanger = "#BB2124";
    private const string ColourSuccess = "#22BB33";
    private const string ColourWarning = "#F0AD4E";
    private const string ColourInfo = "#5BC0DE";


    private readonly Theme _theme = new()
    {
        ColorOptions = new()
        {
            Primary = ColourSecondary,
            Light = ColourSecondaryLight,
            Dark = ColourSecondaryDark,

            Secondary = ColourBlack,

            Danger = ColourDanger,
            Success = ColourSuccess,
            Warning = ColourWarning,
            Info = ColourInfo,
        },
        BackgroundOptions = new()
        {
            Body = ColourBody,

            Primary = ColourPrimary,
            Light = ColourPrimaryLight,
            Dark = ColourPrimaryDark,

            Secondary = ColourWhite,

            Danger = ColourDanger,
            Success = ColourSuccess,
            Warning = ColourWarning,
            Info = ColourInfo,
        },
        BarOptions = new()
        {
            HorizontalHeight = "72px",
            DarkColors = new()
            {
                BackgroundColor = ColourPrimary,
                DropdownColorOptions = new()
                {
                    BackgroundColor = ColourPrimary,
                },
            },
        },
        TextColorOptions = new()
        {
            Body = ColourWhite,
            
            Primary = ColourWhite,
            Light = ColourWhite,
            Dark = ColourWhite,
            
            Secondary = ColourBlack,

            Danger = ColourWhite,
            Success = ColourWhite,
            Warning = ColourWhite,
            Info = ColourWhite,
        },
    };

    private readonly List<Assembly> _lazyLoadedAssemblies = new();

    private async Task OnNavigateAsync(NavigationContext args)
    {
        try
        {
            if (args.Path is "localization-parser")
            {
                var assemblies = await _assemblyLoader.LoadAssembliesAsync(new[]
                {
                    "CsvHelper.dll",
                });
                _lazyLoadedAssemblies.AddRange(assemblies);
            }
            if (args.Path is "assembly-string-editor")
            {
                var assemblies = await _assemblyLoader.LoadAssembliesAsync(new[]
                {
                    "Mono.Cecil.dll",
                    "Mono.Cecil.Mdb.dll",
                    "Mono.Cecil.Pdb.dll",
                    "Mono.Cecil.Rocks.dll",
                });
                _lazyLoadedAssemblies.AddRange(assemblies);
            }
        }
        catch (Exception ex)
        {
            _logger.LogError("Error: {Message}", ex.Message);
        }
    }

}