@attribute [Authorize]
@page "/profile"

@inject NavigationManager _navigationManager
@inject IUserClient _userClient
@inject IDiscordClient _discordClient
@inject ISteamClient _steamClient
@inject IGOGClient _gogClient

@if (_user is null)
{
    <Spinner/>
}
else
{
    <Container>
        <Card Margin="@Margin.Is4" Shadow="@Shadow.Small">
            <CardHeader>
                <CardTitle Size="4" Margin="@Margin.Is0">Profile</CardTitle>
            </CardHeader>
            <CardBody>
                @* Mobile *@
                <Div Display="@Display.Block.OnMobile.None.OnDesktop">
                    <Row>
                        @ProfilePrimary(_user)
                    </Row>
                    <Row>
                        @ProfileSecondary(_user)
                    </Row>
                </Div>

                @* Desktop *@
                <Div Display="@Display.Block.OnDesktop.None.OnMobile">
                    <Row @ref="@_gutterRow">
                        <Column ColumnSize="@ColumnSize.Is4">
                            @ProfilePrimary(_user)
                        </Column>
                        <Column>
                            @ProfileSecondary(_user)
                        </Column>
                    </Row>
                </Div>
            </CardBody>
        </Card>
    </Container>
}

@code {
    
    private RenderFragment ProfilePrimary(ProfileModel user) =>
        @<Card Shadow="@Shadow.Small">
            <CardBody TextAlignment="@TextAlignment.Center">
                <CardImage Width="@Width.Is50" Source="@user.ProfileUrl.Replace(@"{BASE}", _navigationManager.BaseUri)" Border="@Border.RoundedCircle" Alt="@("Profile Image")"/>
                <CardTitle Size="5"><Blazorise.Link To="@user.Url">@user.Name</Blazorise.Link></CardTitle>
                <CardText TextColor="@TextColor.Secondary">@user.Role</CardText>
                @if (user.HasBannerlord)
                {
                    <CardText TextColor="@TextColor.Secondary">Owns Bannerlord</CardText>
                }

                @if (user.IsPremium)
                {
                    <CardText TextColor="@TextColor.Secondary">NexusMods Premium</CardText>
                }
                @if (user.IsSupporter)
                {
                    <CardText TextColor="@TextColor.Secondary">NexusMods Supporter</CardText>
                }
            </CardBody>
        </Card>;

    private RenderFragment ProfileSecondary(ProfileModel user) =>
        @<Card Shadow="@Shadow.Small">
            <CardBody>
                <Row>
                    <Column ColumnSize="@ColumnSize.Is3" TextWeight="@TextWeight.Bold">NexusMods Id</Column>
                    <Column ColumnSize="@ColumnSize.Is9" TextColor="@TextColor.Secondary">@user.UserId</Column>
                </Row>
                <Divider/>
                <Row>
                    <Column ColumnSize="@ColumnSize.Is3" TextWeight="@TextWeight.Bold">NexusMods Name</Column>
                    <Column ColumnSize="@ColumnSize.Is9" TextColor="@TextColor.Secondary">@user.Name</Column>
                </Row>
                <Divider/>
                <Row>
                    <Column ColumnSize="@ColumnSize.Is3" TextWeight="@TextWeight.Bold">NexusMods Email</Column>
                    <Column ColumnSize="@ColumnSize.Is9" TextColor="@TextColor.Secondary">@user.Email</Column>
                </Row>
                <Divider/>
                <Row>
                    <Column ColumnSize="@ColumnSize.Is3" TextWeight="@TextWeight.Bold">Discord</Column>
                    <Column ColumnSize="@ColumnSize.Is9" TextColor="@TextColor.Secondary">
                        <Anchor Style="text-decoration: none" To="@(_discordUser?.Url ?? "discord-linked-role")" Target="@Target.Blank">
                            @if (_user.DiscordUserId is not null && _discordUser?.Name is not null)
                            {
                                @(_discordUser.Name)
                            }
                            else if (_user.DiscordUserId is not null && _discordUser?.Name is null)
                            {
                                @("Needs Relinking")
                            }
                            else
                            {
                                @("Not Linked")
                            }
                        </Anchor>
                    </Column>
                </Row>
                <Divider/>
                <Row>
                    <Column ColumnSize="@ColumnSize.Is3" TextWeight="@TextWeight.Bold">Steam</Column>
                    <Column ColumnSize="@ColumnSize.Is9" TextColor="@TextColor.Secondary">
                        <Anchor Style="text-decoration: none" To="@(_steamUser?.Url ?? "steam-linked-role")" Target="@Target.Blank">
                            @if (_user.SteamUserId is not null && _steamUser?.Name is not null)
                            {
                                @(_steamUser.Name)
                            }
                            else if (_user.SteamUserId is not null && _steamUser?.Name is null)
                            {
                                @("Needs Relinking")
                            }
                            else
                            {
                                @("Not Linked")
                            }
                        </Anchor>
                    </Column>
                </Row>
                <Divider/>
                <Row>
                    <Column ColumnSize="@ColumnSize.Is3" TextWeight="@TextWeight.Bold">GOG</Column>
                    <Column ColumnSize="@ColumnSize.Is9" TextColor="@TextColor.Secondary">
                        <Anchor Style="text-decoration: none" To="@(_gogUser?.Url ?? "gog-linked-role")" Target="@Target.Blank">
                            @if (_user.GogUserId is not null && _gogUser?.Name is not null)
                            {
                                @(_gogUser.Name)
                            }
                            else if (_user.GogUserId is not null && _gogUser?.Name is null)
                            {
                                @("Needs Relinking")
                            }
                            else
                            {
                                @("Not Linked")
                            }
                        </Anchor>
                    </Column>
                </Row>
            </CardBody>
        </Card>;

    private ProfileModel? _user;
    private DiscordUserInfo2? _discordUser;
    private SteamUserInfo2? _steamUser;
    private GOGUserInfo2? _gogUser;
    private Row? _gutterRow;

    protected override async Task OnInitializedAsync()
    {
        _user = (await _userClient.ProfileAsync()).Data;
        
        var discordTask = _user?.DiscordUserId is not null ? _discordClient.GetUserInfoAsync() : Task.FromResult<DiscordUserInfoAPIResponse>(new(null!, string.Empty));
        var steamTask = _user?.SteamUserId is not null ? _steamClient.GetUserInfoAsync() : Task.FromResult<SteamUserInfoAPIResponse>(new(null!, string.Empty));
        var gogTask = _user?.GogUserId is not null ? _gogClient.GetUserInfoAsync() : Task.FromResult<GOGUserInfoAPIResponse>(new(null!, string.Empty));
        await Task.WhenAll(discordTask, steamTask, gogTask);
 
        _discordUser = await discordTask is { Data: { } dataDiscord } ? new DiscordUserInfo2(dataDiscord) : null;
        _steamUser = await steamTask is { Data: { } dataSteam } ? new SteamUserInfo2(dataSteam) : null;
        _gogUser = await gogTask is { Data: { } dataGog } ? new GOGUserInfo2(dataGog) : null;
        
        if (_gutterRow is not null)
            _gutterRow.Gutter = (5,5);
    }

    protected override Task OnParametersSetAsync()
    {
        if (_gutterRow is not null)
            _gutterRow.Gutter = (5,5);

        return Task.CompletedTask;
    }

}