@attribute [Authorize]
@page "/mods"

@inject INexusModsUserClient _userClient
@inject INexusModsModClient _modClient
@inject TenantProvider _tenantProvider
@inject IJSRuntime _jsRuntime;

<Card Margin="@Margin.Is4">
    <CardHeader>
        <CardTitle Size="4" Margin="@Margin.Is0">Link Mod</CardTitle>
    </CardHeader>
    <CardBody>
        <Form>
            <Field>
                <FieldLabel>NexusMods Mod Url</FieldLabel>
                <FieldBody>
                    <TextEdit ElementId="mod-url" Role="@TextRole.Url" @bind-Text="@_model.ModUrl" Placeholder="https://nexusmods.com/mountandblade2bannerlord/mods/1"></TextEdit>
                </FieldBody>
            </Field>
            <Field>
                <Button Color="@Color.Primary" Type="@ButtonType.Submit" @bind-Loading="@_isLoading" Clicked="@OnSubmit" PreventDefaultOnSubmit>
                    <LoadingTemplate>Linking...</LoadingTemplate>
                    <ChildContent>Link</ChildContent>
                </Button>
            </Field>
        </Form>
    </CardBody>
</Card>

<Card Margin="@Margin.Is4" Overflow="@Overflow.Auto">
    <CardHeader>
        <CardTitle Size="4" Margin="@Margin.Is0">Linked Mods</CardTitle>
    </CardHeader>
    <CardBody>
        <DataGridPaging @ref="@_dataGridRef" TItem="NexusModsModModel" GetItems="@GetMods">
            <DataGridColumns>
                <DataGridColumn TItem="NexusModsModModel" ElementId="mod-id" Field="@nameof(NexusModsModModel.NexusModsModId)" Caption="Mod Id"/>
                <DataGridColumn TItem="NexusModsModModel" ElementId="mod-name" Field="@nameof(NexusModsModModel.Name)" Caption="Name"/>
                <DataGridColumn TItem="NexusModsModModel" ElementId="user-ids" Field="@nameof(NexusModsModModel.AllowedNexusModsUserIds)" Caption="Allowed User Ids">
                    <DisplayTemplate>@(string.Join(", ", context.AllowedNexusModsUserIds))</DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="NexusModsModModel" ElementId="manual-user-ids" Field="@nameof(NexusModsModModel.ManuallyLinkedNexusModsUserIds)" Caption="Manually Linked User Ids">
                    <DisplayTemplate>@(string.Join(", ", context.ManuallyLinkedNexusModsUserIds))</DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="NexusModsModModel" ElementId="confirmed-mod-ids" Field="@nameof(NexusModsModModel.ManuallyLinkedModuleIds)" Caption="Confirmed Module Id">
                    <DisplayTemplate>@(string.Join(", ", context.ManuallyLinkedModuleIds))</DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="NexusModsModModel" ElementId="known-mod-ids" Field="@nameof(NexusModsModModel.ManuallyLinkedModuleIds)" Caption="Known Module Id">
                    <DisplayTemplate>@(string.Join(", ", context.KnownModuleIds))</DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>

            <ButtonRowTemplate>
                <Button Color="@Color.Primary" Disabled="@(_dataGridRef?.Value is null)" Clicked="@(async () => await OnClick(_dataGridRef!.Value))">Open Page</Button>
                <Button Color="@Color.Danger" Disabled="@(_dataGridRef?.Value is null)" Clicked="@(async () => await OnDelete(context))">
                    <LoadingTemplate>Unlinking...</LoadingTemplate>
                    <ChildContent>Unlink</ChildContent>
                </Button>
            </ButtonRowTemplate>
        </DataGridPaging>
    </CardBody>
</Card>

<Card Margin="@Margin.Is4" Overflow="@Overflow.Auto">
    <CardHeader>
        <CardTitle Size="4" Margin="@Margin.Is0">Available Mods</CardTitle>
    </CardHeader>
    <CardBody>
        <DataGridPaging @ref="@_dataGridRef2" TItem="NexusModsModAvailableModel" GetItems="@GetAllowedMods" PageSizes="@(new[] { 5, 10, 20 })">
            <DataGridColumns>
                <DataGridColumn TItem="NexusModsModAvailableModel" ElementId="mod-id" Field="@nameof(NexusModsModAvailableModel.NexusModsModId)" Caption="Mod Id"/>
                <DataGridColumn TItem="NexusModsModAvailableModel" ElementId="mod-name" Field="@nameof(NexusModsModAvailableModel.Name)" Caption="Name"/>
            </DataGridColumns>
        </DataGridPaging>
    </CardBody>
</Card>

@code {

    private sealed record LinkModModel
    {
        public string ModUrl { get; set; } = string.Empty;
    }

    private bool _isLoading;

    private LinkModModel _model = new();

    private DataGridPaging<NexusModsModModel>? _dataGridRef;
    private DataGridPaging<NexusModsModAvailableModel>? _dataGridRef2;

    private async Task OnSubmit()
    {
        _isLoading = true;

        if (await DoLinkMod(_model))
        {
            _model = new LinkModModel();
            if (_dataGridRef is not null)
                await _dataGridRef.Reload();
        }

        _isLoading = false;
        StateHasChanged();
    }

    private async Task<bool> DoLinkMod(LinkModModel model)
    {
        if (!NexusModsUtils.TryParse(model.ModUrl, out _, out var modId) && !uint.TryParse(model.ModUrl, out modId))
            return false;

        return await _userClient.ToNexusModsModLinkAsync((int) modId) is { Error: not null };
    }

    private async Task<bool> DoUnlinkMod(NexusModsModModel model)
    {
        return await _userClient.ToNexusModsModUnlinkAsync(nexusModsModId: model.NexusModsModId) is { Error: not null };
    }

    private async Task<DataGridPaging<NexusModsModModel>.ItemsResponse?> GetMods(int page, int pageSize, ICollection<Filtering> filters, ICollection<Sorting> sortings, CancellationToken ct = default)
    {
        var response = await _userClient.ToNexusModsModPaginatedAsync(new(page: page, pageSize: pageSize, filters: filters, sotings: sortings), cancellationToken: ct);
        return response is { Value: { } data } ? new(data.Metadata, data.Items, data.AdditionalMetadata) : null;
    }

    private async Task<DataGridPaging<NexusModsModAvailableModel>.ItemsResponse?> GetAllowedMods(int page, int pageSize, ICollection<Filtering> filters, ICollection<Sorting> sortings, CancellationToken ct = default)
    {
        var response = await _modClient.AvailablePaginatedAsync(new(page: page, pageSize: pageSize, filters: filters, sotings: sortings), cancellationToken: ct);
        return response is { Value: { } data } ? new(data.Metadata, data.Items, data.AdditionalMetadata) : null;
    }

    private async Task OnClick(NexusModsModModel? mod)
    {
        if (mod is not null)
            await _jsRuntime.InvokeVoidAsync("open", mod.Url(TenantUtils.FromTenantToGameDomain(await _tenantProvider.GetTenantAsync())!), "_blank");
    }

    private async Task OnDelete(ButtonRowContext<NexusModsModModel> context)
    {
        if (context.DeleteCommand.Item is not null && await DoUnlinkMod(context.DeleteCommand.Item))
        {
            await context.DeleteCommand.Clicked.InvokeAsync();
        }
    }

}